@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

body {
  background: linear-gradient(45deg,white, white,  rgba(120,120,120, 0.5));
  margin: 0;
}



header {
 display: flex;
 position: fixed;
 background: white;
 width: 100%;
 height: 40px;
 align-items: center;
 justify-items: space-between;
overflow: hidden;
}

#header-img{
  width: 50px;
}

h1 {
  font-size: max(3vw, 1.2em);
  padding-top: 15vh; 
}

h2 {
  font-size: max(2vw, 1.2em);
  padding-top: 10px;
}
nav {
  width: 90%;
  height: 55px;
  max-width: 350px;
  right: 0;
  position: absolute;
  }

nav > ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  place-items: center;
  margin-block: 0;
  padding-inline-start: 0;
  height: 100%;
}

nav > ul > li {
  color: black;
  display: block; 
  padding: 0.2rem;
  margin: 0 0.2rem;
}

nav > ul > li > a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  font-size: 100%;
}

main {
  padding-top: 10px;
  padding-left: 3vw;
  padding-right: 3vw;
}



.texto {
  text-indent: 2em;
 }

.no-indent {
  text-indent: 0;
}

.links {
  color: black;
}

.img-sistemas {
  margin: 0;
  padding: 0;
  width: 100%;
}

footer {
  
  border-top: solid black;

}

.footer {
  display: fixed;

  margin-left: 3vw;
  width: 100%;
  height: 50px;
  background: linear-gradient(45deg, white, rgba(120,120,120, 0.5));
  color: white;
  bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0; 
  padding-top: 1px;
}
.link-footer{
  color: white;
}


html, body {
    max-width: 100%;
    overflow-x: hidden;
}

@media (max-width: 1024px) {
.nav-link{font-size: 2vw; }

.img-sistemas {
  max-width: 100%;
  height: auto;
}
 #video {
  width: 100%;
  height: auto;
}
}
